html {
  box-sizing: border-box; // width and height of element will iclude any padding you create.
  font-size: 100%;
}
// make all the elements in html inherit the box-sizing
*, *:before, *:after {
  box-sizing: inherit;
} 

body {
  padding: 20px;
  background-color: #cecece;
  color: #000000;
  font-family: 'Roboto', 'sans-serif';
  line-height: 1.3;
}

main {
  background-color: #ffffff;
  padding: 20px;
}